.home-view {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;

  height: 100vh;
  overflow: auto;

  .banner {
    width: 100%;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;

    .title {
      color: white;
      font-size: 3rem;
      margin-bottom: 0;
    }

    .subtitle {
      margin: 0 0 1rem;
      font-size: 1.2rem;
      color: white;
    }
  }

  .start-btn {
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding: 0.2rem 0.5rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
    width: 180px;

    &:hover {
      background-color: $accent-color;
    }
  }
}

/*=============================================
=            Info Section Style            =
=============================================*/
.info-section {
  width: 100%;
  background-color: white;
  padding: 0 0.3rem;
  margin-bottom: 1rem;

  .title {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .description {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.5;
    text-indent: 1.5rem;
  }

  .description-table {
    max-width: 600px;
    margin: 0 auto;

    th,
    td {
      border: 1px solid #ececec;
      padding: 0.5rem 1rem;
      text-align: center;
    }

    tr td:first-of-type {
      text-align: left;
    }
  }
}

/*=====  End of Info Section Style  ======*/

/*=============================================
  =            Header Style            =
  =============================================*/
.header {
  background-color: $background-color;
  display: flex;
  justify-content: space-between;

  .header-left {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    .logo {
      display: block;
      width: 5rem;
    }
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
  }
}

/*=====  End of Header Style  ======*/

/*=============================================
  =            Footer Style            =
  =============================================*/
.footer {
  text-align: center;
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.8rem;

  .description {
    margin: 0.3rem;
    font-size: 0.8rem;
  }

  .sunny-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    &:hover {
      color: $accent-color;
    }
  }

  .github-link {
    color: white;
    text-decoration: none;
    span {
      font-size: 0.8rem;
      margin-left: 0.2rem;
    }
  }
}

/*=====  End of Footer Style  ======*/

/*=============================================
=            Mobile Version Styles            =
=============================================*/
@media screen and (max-width: $mobile-screen-size) {
  .header {
    padding: 1rem 0;
    .header-title {
      display: none;
    }
  }

  .footer {
    flex-direction: column;
  }
}

/*=====  End of Mobile Version Styles  ======*/
