/*=============================================
=            General Style            =
=============================================*/
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*=====  End of General Style  ======*/

/*=============================================
=            Color Theme            =
=============================================*/
$primary-color: #07a14c;
$accent-color: #f7b32b;
$background-color: #e7ecef;
$light-color: #b1d8d4;

/*=====  End of Color Theme  ======*/


/*=============================================
=            Dimension            =
=============================================*/
$container-height:87vh;


/*=====  End of Dimension  ======*/


@import "./home.scss";
@import "./editor.scss";