/*=============================================
=            General Style            =
=============================================*/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

button {
    all: unset;
    cursor: pointer;
}

/*=====  End of General Style  ======*/


/*=============================================
=            Color Theme            =
=============================================*/
$primary-color: #06A77D;
$accent-color:#F7B32B;
$background-color: #E7ECEF;
$light-color:#B1D8D4;


/*=====  End of Color Theme  ======*/



/*=============================================
  =            Main Style            =
  =============================================*/
.app {
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.view {
    // max-height: 100%;

    overflow-y: auto;
}

.hide {
    display: none !important;
}

/*=====  End of Main Style  ======*/


/*=============================================
  =            EditView Style            =
  =============================================*/
.edit-view-header {
    background-color: $background-color;
    max-width: 100%;
    padding: .5rem;
}

.element-option-list {

    display: flex;


    .element-btn {
        display: block;
        text-align: center;
        border-radius: 5px;
        color: white;
        background-color: $primary-color;
        padding: .2rem .5rem;
        margin: 0 .2rem;

        svg {
            margin-right: .2rem;
        }

        &:hover {
            background-color: $accent-color;
        }
    }
}

.elements-list {
    padding: .5rem;
    margin: 0;
}

.element-container {
    display: flex;
    margin-bottom: 1rem;

    .order-handlers {
        width: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .element-index {
            text-align: center;
            padding: .2rem;
            border-radius: 5px;
            font-size: .8rem;
            display: block;
            margin: 0 auto;
        }

        .order-handle-btn {
            background-color: $background-color;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .2rem;
            border-radius: 5px;

            &:hover {
                background-color: $accent-color;
                color: white;
            }
        }
    }

    .element-info-container {
        width: 95%;
        display: flex;
        flex-wrap: wrap;

        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $primary-color;
            padding: .2rem .5rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

        }

        .element-type {
            margin: .2rem 0;
            font-size: 1rem;
            color: white;
            font-weight: bold;

            span {
                margin-left: .5rem;
            }
        }

        .delete-btn {
            width: 1rem;
            height: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            color: white;

        }

        .main-content {
            width: 100%;
            display: flex;
            padding: .5rem;
            background-color: $background-color;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            //Heading Element style
            .heading-input-group {
                display: flex;
                align-items: center;
                width: 100%;

                .heading-level-select {
                    padding: .5rem;
                    margin: 8px 8px 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-size: 1rem;
                }
            }


            //Text Element style
            .element-value-input {
                width: 100%;
                padding: .5rem;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-size: 1rem;
            }

            //Link Element style
            .input-group {
                display: flex;
                align-items: center;
                width: 50%;
            }

            .link-value-input {
                flex: 1;
                padding: .5rem;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-size: 1rem;
                margin-right: .5rem;
            }
        }
    }

}

/*=====  End of EditView Style  ======*/


/*=============================================
=            Review View Style            =
=============================================*/
.review-view-header {
    background-color: $background-color;
    max-width: 100%;
    padding: .5rem;

    .option-list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    .empty-btn {
        background-color: #ccc;
    }

    button {
        display: block;
        text-align: center;
        border-radius: 5px;
        color: white;
        background-color: $primary-color;
        padding: .2rem .5rem;
        margin: 0 .2rem;

        span {
            margin-left: .2rem;
        }

        &:hover {
            background-color: $accent-color;
        }
    }
}


/*=====  End of Review View Style  ======*/



/*=============================================
  =            Github Markdown Style            =
  =============================================*/
.markdown-body {
    box-sizing: border-box;
    /* min-width: 200px;
    max-width: 980px; */
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}


/*=====  End of Github Markdown Style  ======*/


/*=============================================
=            Markdown View Style            =
=============================================*/
.output-markdown-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.markdown-text-container {
    margin-top: 2rem;
    background-color: white;
    border-radius: 5px;
    width: 600px;
    max-width: 980px;

    .title {
        text-align: center;
    }
}

/*=====  End of Markdown View Style  ======*/



/*=============================================
=            Header Style            =
=============================================*/
header {
    background-color: $primary-color;
    color: white;
}


/*=====  End of Header Style  ======*/



/*=============================================
=            Footer Style            =
=============================================*/
.footer {
    text-align: center;
}


/*=====  End of Footer Style  ======*/